<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
<h1><span th:text="${user.username}"></span>, welcome spring boot security page!</h1>

<div>
    <span>Name: </span><span th:text="${user.username}"></span>
    <br>
    <span>Age: </span><span th:text="${user.age}"></span>
    <br>
    <span>Roles: </span>
    <div th:each="role : ${user.roles}">
        <span th:text="${role.name}"></span>,
    </div>

</div>

</body>
</html>